.menu {
	/* margin-left: 20px; */
	padding: 20px;
}

.menu .heading {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.menu .items {
	/* display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
	row-gap: 40px; */

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
	row-gap: 40px;
}

/* .menu .items .card {
	width: 25%;
} */

.menu .items .card .item-image img {
	width: 100%;
}

.menu .items .card .item-desc {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .items .card .item-desc .add {
	display: flex;
	justify-content: end;
}

.menu .items .card .item-desc img {
	width: 70%;
}
